/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --textPrimary: #207f61;
  --textSecondary: rgb(42, 165, 144);

  --borderPrimary: #207f61;
  --borderSecondary: rgb(120, 50, 62);
  --border3: #282727;

  --backgroundPrimary: #282828;
  --backgroundGlass: rgba(40, 40, 40, 0.1);
  --neuomorphShadowA: -3px -3px 4px rgba(82, 82, 82, 0.2),
    3px 3px 4px rgba(0, 0, 0, 0.4);

  --neuomorphInShadowA: inset -4px -4px 5px rgba(82, 82, 82, 0.2),
    inset 10px 10px 10px rgba(0, 0, 0, 0.4);
  --neuomorphInShadowB: inset -3px -3px 4px rgba(82, 82, 82, 0.2),
    inset 3px 3px 4px rgba(0, 0, 0, 0.4);

  --green: rgb(8, 143, 64);
  --purple: rgb(162, 15, 118);
  --red: rgb(138, 17, 29);
}

* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Josefin Sans, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  color: #207f61;
  font-size: 12px;
}

body {
  /*  */
  background: #282828;
}
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  min-width: 0;
  width: auto;
}
