.input {
  box-shadow: var(--neuomorphInShadowB);
  color: var(--textSecondary);
  font-size: var(--inputSize_a);

  padding: 8px 10px;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  width: 100%;
}
