.pannel {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}
.pannel.open {
  grid-template-rows: 1fr;
}

.pannel > div {
  overflow: hidden;
}
.listBox {
  box-shadow: var(--neuomorphInShadowB);
  min-height: 200px;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}
.lottieCont {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  min-height: 200px;
  background-color: var(--backgroundGlass);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
