.cont {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
  border-radius: 5px;
}

.cont.neuo {
  box-shadow: var(--neuomorphShadowA);
}

.cont.active {
  grid-template-rows: 1fr;
}

.cont > .box {
  overflow: hidden;
}
