.itemCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 10px;
  font-size: 14px;
  flex-wrap: nowrap;
  border-bottom: 1px solid var(--borderPrimary);
}

.itemCont > div {
  /* border: 1px solid white; */
  width: 100%;
  text-align: center;
}
.itemColorBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}
.colorItem {
  width: 13px;
  height: 13px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: white;
  display: inline-block;
  margin: 0 5px;
}
.red {
  background-color: var(--red);
}
.violet {
  background-color: var(--purple);
}
.green {
  background-color: var(--green);
}
