.loadingCont {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.loadingBox {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  min-height: 100%;
  background-color: var(--backgroundGlass);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
