/* render availabe icons */
.flexBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font_14);
}

.iconBox {
  min-width: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

.iconCont {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  box-shadow: -2px -2px 3px rgba(82, 82, 82, 0.4),
    3px 3px 4px rgba(0, 0, 0, 0.6);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  user-select: none;
}

.iconActive {
  box-shadow: -4px -4px 8px rgba(30, 108, 24, 0.6),
    3px 3px 6px rgba(12, 125, 59, 0.6);
  outline: 2px solid rgba(12, 125, 59, 0.6);
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
  /* outline: 1px solid brown; */
  /* outline-offset: 5px; */
}
